.store_short_location {
  position: absolute;
  right: 0px;
  top: -27px;
  z-index: 1;
  width: 90px;
  height: 27px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #efefef;
  border: 1px solid rgb(22, 21, 21);
}

.store_container {
  width: 200px;
  height: 100px;
  margin-bottom: 10px;
}
.store_container:hover {
  background-color: rgb(173, 173, 173);
}
#store_paragraph {
  font-size: 16px;
  font-weight: 500;
  margin-top: 104px;
  margin-bottom: 20px;
  width: 100%;
  max-width: 351px;
}
.item_image {
  height: 150px;
}
.item img {
  height: 80%;
  width: auto;
}

.item_img .item_name {
  height: 20%;
  font-size: 10px;
}

.img_group {
  display: flex;
}

.contents {
  margin: 80px 80px 80px 80px;
  width: calc(100% - 160px);
}

.store_list {
  display: flex;
  flex-wrap: wrap;
}

.store {
  position: relative;
  width: 45%;
  margin: 30px 20px;
}

@media all and (max-width: 1280px) {
  .store {
    width: 100%;
    margin-left: 0px;
    margin-right: 0px;
  }
}

.store_more {
  overflow: hidden;
  position: relative;
  height: auto;
}

.lineup {
  display: table;
  width: 100%;
  height: 340px;
  color: white;
  font-size: 16px;
  font-weight: 550;
  margin-bottom: 25px;
}
.lineup_item {
  display: table-cell;
  width: 33%;
  padding: 244px 0px 0px 22px;
  transition: padding 0.5s;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}
.store_blank {
  position: absolute;
  background: #bcbcbc;
  width: 100%;
  height: 180px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  padding: 25px 0px 0px 0px;
  transition: height 0.5s;
}

.store:hover .store_blank {
  height: 107px;
}

.store:hover .lineup_item {
  padding: 167px 0px 0px 22px;
}

.store_name {
  font-size: 28px;
  font-weight: 700;
  margin: 0px 20px;
}

.store_ad {
  font-size: 18px;
  font-weight: 700;
  margin: 0px 20px;
}

@media all and (max-width: 668px) {
  #store_title {
    margin-left: 20px;
  }
  .contents {
    margin: 20px;
    width: calc(100% - 40px);
  }

  .store_more {
    height: 32vh;
  }

  .lineup {
    font-size: 3vw;
    height: 32vh;
  }

  .lineup_item {
    padding: 25vh 0px 0px 4vw;
  }

  .store_blank {
    height: 18vh;
  }

  .store:hover .store_blank {
    height: 15vh;
  }

  .store:hover .lineup_item {
    padding: 22vh 0px 0px 4vw;
  }

  #store_paragraph {
    margin: 70px 0px 0px 0px;
    justify-content: flex-start;
    width: auto;
  }

  .store_short_location {
    right: 0px;
  }
}

@media all and (max-width: 400px) {
  .store_name {
    font-size: 20px;
  }

  .store_ad {
    font-size: 14px;
  }
}
