@charset "utf-8";
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;500;700;900&display=swap");

/* PC */

body {
  font-family: "Noto Sans Kr";
  background-color: #dedddd;
  display: flex;
  margin: 0px;
}

/* this controls the whole page layout */
.app_flex_control {
  display: flex;
  flex-direction: row;
  width: 100%;
  position: relative;
}

#app {
  margin: 0;
  padding: 0;
  width: 100%;
}

@media all and (max-width: 668px) {
  .app_flex_control {
    display: flex;
    flex-direction: column;
  }
}
