.about_contents {
  display: flex;
  flex-wrap: wrap;
  margin: 80px 80px 80px 80px;
}

.identity {
  margin-bottom: 60px;
}

.title {
  font-weight: 750;
  font-size: 36px;
  margin-bottom: 27px;
}

.title2 {
  font-weight: 750;
  font-size: 36px;
  margin-bottom: 27px;
  margin-left: 9.5vw;
}

.paragraph {
  float: left;
  width: 335px;
  margin-left: 9.5vw;
}

p {
  font-size: 16px;
  line-height: 27px;
  text-align: justify;
}

.identity_c {
  float: left;
  width: 266px;
  font-weight: 700;
  font-size: 23px;
  line-height: 40px;
  margin-left: 23px;
  margin-top: 12px;
}

.products {
  margin: 60px 0px;
}

#p_products {
  float: none;
}

.products img {
  float: left;
  margin-left: 178px;
}

/* 여기부분만 추가했습니다. map function 안에 있는 className입니다 */

.ricewine_product_container {
  width: 53vw;
  margin-left: 9.5vw;
}

.ricewine_product {
  display: flex;
  margin: 25px 0px;
}

.ricewine_name {
  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
}
.ricewine_description {
  width: 276px;
  font-size: 16px;
  line-height: 27px;
}

.ricewine_img {
  display: block;
  min-width: 37.5vw;
  height: 190px;
  margin-right: 25px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

/* ricewine 수정부분은 여기까지입니다 */

.brewery {
  margin: 60px 0px;
}

.brewery img {
  width: 60vw;
  margin-top: 20px;
  margin-left: 9.5vw;
}

@media all and (max-width: 1025px) {
    .paragraph {
      width: 335px;
      margin-left: 0vw;
    }

    .title2 {
        margin-left: 0px;
    }

    .ricewine_product_container {
    margin-left: 0vw;
    }

    .ricewine_description {
      width: auto;
    }

    .ricewine_img {
      min-width: 13.5vw;
    }

    .brewery img {
      margin-left: 0vw;
    }
}


@media all and (max-width: 668px) {
  .about_contents {
    margin: 20px 0px 0px 0px;

  }
  .title {
    font-size: 36px;
    margin: 0px;
    text-align: center;
    width: 100%;
  }
  .title2 {
    font-size: 36px;
    margin: 0px;
    text-align: center;
  }

  .products img {
    float: left;
    margin-left: 10%;
  }

  .ricewine_product_container {
      margin-left: 9.5vw;
      width: 78vw;
  }

  .ricewine_img {
      min-width: 37.5vw;
  }

  .paragraph {
    margin-left: 9.5vw;
  }

  .identity_c {
    float: right;
  }

  .brewery img {
    width: 80%;
    margin: 0% 10%;
  }
}
