.contact{
	margin: 80px 80px 80px 80px;
	width: 100%;
}

#contact_title{
	margin-bottom: 125px
}

.contact_after_t{
	display: flex;
}

.contact_more{
	width: 385px;
}

.contact img{
	float: left;
	margin: 0px 5px;
	width: 35px;
	opacity: 0.3;
}

.contact_text{
	font-weight: 700;
	font-size: 24px;
}

.contact_text2{
	font-weight: 400;
	font-size: 18px;
}

.map{
	width: 53vw;
	height: 776px;
	box-shadow: 5px 5px 4px rgba(0, 0, 0, 0.25);
}

@media all and (max-width: 1460px){
	.map{
		width: 100%;
		height: 500px;
		margin: 0px 20px;
	}
}

@media all and (max-width:668px) {
	.contact{
		margin: 0px;
	}

	#contact_title{
		margin: 42px 0px;
	}

	.contact_icons{
		margin: 0% 10%;
	}

	.contact img{
		float: none;
		margin: 0px;
	}

	.contact_text{
		font-size: 22px;
		margin-left: 10%;
	}

	.contact_text2{
		margin-left: 10%;
	}
}