.contact{
	display: block;
	margin: 80px 80px 80px 80px;
	width: 100%;
}

#contact_title{
	display: inline;
}

.contact_icons{
	display: inline;
}

.contact img{
	float: right;
	margin: 0px 5px;
	width: 35px;
	height: auto;
	opacity: 0.3;
}

.contact_text{
	font-weight: 700;
	font-size: 24px;
	margin-top: 125px;
}

.contact_text2{
	font-weight: 400;
	font-size: 18px;
}

.map{
	display: block;
	background-color: white;
	width: 1017px;
	height: 500px;
	float: right;
	box-shadow: inset 5px 5px 4px rgba(0, 0, 0, 0.25);
}

@media all and (max-width: 1375px){
	.map{
		display: block;
		background-color: white;
		width: 100%;
		height: 500px;
		float: left;
		box-shadow: inset 5px 5px 4px rgba(0, 0, 0, 0.25);
	}
}

@media all and (max-width:668px) {
	.contact{
		display: block;
		margin: 0px;
		width: 100%;
	}

	#contact_title{
		display: block;
		margin: 42px 0px 0px 0px;
	}

	.contact_icons{
		text-align: right;
		float: right;
	}

	.contact img{
		float: none;
		margin: 0px;
	}

	.contact_text{
		font-weight: 700;
		font-size: 30px;
		margin-left: 10%;
	}

	.contact_text2{
		font-weight: 400;
		font-size: 24px;
		margin-left: 10%;
	}

	.map{
		display: block;
		background-color: white;
		width: 80%;
		height: 400px;
		margin: 0% 10%;
		box-shadow: inset 5px 5px 4px rgba(0, 0, 0, 0.25);
	}
}