<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>씨(C)막걸리</title>
    <meta
      name="google-site-verification"
      content="lR_irFzwrrH0zFSJPSfYV1kbTrWNY0DQgsMi2ycNHlU"
    />
    <meta
      name="naver-site-verification"
      content="62e39aae873382400fa988243af63fddf79034cb"
    />
    <meta name="title" property="og:title" content="씨(C)막걸리" />
    <meta
      name="description"
      property="og:description"
      content="Creative, Colourful, Cosmopolitan, Contemporary, Classical Craft Makgeolli"
    />
    <meta name="url" property="og:url" content="http://www.cmakgeolli.com" />
    <meta
      name="image"
      property="og:image"
      content="https://cmakgeoli.herokuapp.com/static/frontend/public/icons/meta.png"
    />
    <link
      rel="icon"
      href="https://cmakgeoli.herokuapp.com/static/frontend/public/icons/icon.png"
    />
  </head>

  <body>
    <div id="app">
      <!-- React will load here -->
    </div>
  </body>
  {% load static %}
  <script
    type="text/javascript"
    src="https://openapi.map.naver.com/openapi/v3/maps.js?ncpClientId=znaixfs0cd&submodules=geocoder"
  ></script>
  <script src="{% static 'frontend/main_copy.js' %}"></script>
</html>
