.news_contents {
  margin: 80px 80px 80px 80px;
  width: 100%;
}

.news_page_title {
  margin-bottom: 125px;
}

.news_year {
  border-bottom: 1px black solid;
  font-weight: 500;
  font-size: 20px;
  display: flex;
  margin-bottom: 60px;
}

.news_year:last-child {
  border: none;
}

.news_detail {
  display: flex;
  flex-direction: column;
  margin-bottom: 60px;
}

.news_date {
  margin-bottom: 5px;
  opacity: 0.5;
}

.year {
  margin-right: 12vw;
}

.news_title {
  text-decoration: underline;
}

.news_media {
  margin-bottom: 5px;
}

@media all and (max-width: 1205px) {
}

@media all and (max-width: 668px) {
  #news_page_title {
    margin-left: 40px;
  }
  .news_contents {
    margin: 20px 0px 0px 0px;
  }

  .news_year {
    margin: 0px 40px 60px 40px;
    font-size: 17px;
  }
}
